@charset "utf-8";

@import "normalize-rails";
@import "yale_ui_type";
@import "foundation_and_overrides";
@import "nav";
@import "footer";
@import "flashes";
@import "forms";
@import "inline_checkboxes_override";
@import "simpleform_submit_override";
@import "simpleform_hint_override";
@import "buildings";
@import "draws";
@import "groups";
@import "users";

td.actions a.button { margin: 0 }

.accordion-title { font-size: 1.1em; }
.tabs-title a { font-size: 1em; }

.homepage-hero {
  @include grid-col;
  text-align: center;

  @include breakpoint(medium) {
    @include grid-col-size(8);
    @include grid-col-pos(center);
  }
}

main { margin-top: 2em; }

footer {
  border-top: 1px solid black;
  padding-top: 1em;
  margin-top: 1em;
  line-height: 1.5;
}

.has-tip { font-weight: normal; }
