<footer class="row">
  <ul class="footer-links">
    <li><%= link_to 'Documentation', 'https://yale-sdmp.gitlab.io/vesta', targe: '_blank' %></li>
    <li><%= link_to 'Terms of Service', terms_of_service_path %></li>
    <li><%= link_to 'Contact Us', 'mailto:vesta-support@yale.edu' %></li>
  </ul>
  <span>Built by the <%= link_to 'Yale Student Developer & Mentorship Program', 'https://github.com/YaleSTC/vesta', target: '_blank' %></span>
</footer>
